<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">

    <div class="row mt-3">
        <div class="col md-12">
            <%- include('../partials/flashMessages') -%>
        </div>

    </div>


    <table class="table mydatatable table-hover " style="margin-top: 20px;">

        <tbody>
        <tr>
            <td class="">NO</td>
            <td>USER_NAME</td>
            <td>USER DISPLAY NAME</td>
            <td>EDIT TYPE</td>
            <td>DEB AFTER EDIT</td>
            <td>AMOUNT</td>
            <td>USER NOTE</td>

        </tr>
        <% debs.forEach((debs)=> {%>

            <tr>
                <td class="">1</td>

                <td> <a href="<%=  '/events/showdeb/' + debs.id %>" style="text-decoration: unset;color: black;"><%=debs.userEname%></a></td>
                <td><%=debs.user_name%></td>
                <td><%=debs.am_type%></td>
                <td><%=debs.left_deb%></td>
                <td><%=debs.am_paid%></td>
                <td><%=debs.note%></td>
                <td><button class="btn"  style="padding: 0 0 0 0 !important
     ;margin: -2.5px auto -2px auto !important;"><i class="fas fa-times-circle" style="font-size: 20px;color: red;margin-top: 2px;"></i></button></td>


            </tr>
        <%})%>

        </tbody>
    </table>


    <div class="row">
        <div class="col-12 mt-2 mb-4">
            <nav aria-label="...">
                <ul class="pagination pagination-lg justify-content-center">




                </ul>
            </nav>
        </div>
    </div>
</div>


<%- include('../partials/footer') -%>